.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
*.app
.snapshots/*
node_modules
.DS_Store
.env
.env.example
.env.test
.env.development
.env.production
.env.staging
.env.testing
.env.development.local
.env.production.local
